.profilesView-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .profilesView-title {
        flex: 0.5
    }

    .profilesView-echarts {
        flex: 6;
    }

    .profilesView-group {
        flex: 1
    }
}